APP_ENV=production
APP_ALLOWED_ORIGINS=https://www.theeddiebus.org.uk,https://theeddiebus.org.uk,http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=eddie_bus
DB_USER=eddie_bus_app
DB_PASS=change_me
